[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
tzdata = "*"
python-decouple = "*"
markdown = "*"
bleach = "*"
requests = "*"
psycopg2-binary = "*"
gunicorn = "*"
whitenoise = "*"
pytz = "*"
python-dotenv = "*"
pillow = "*"
django-extensions = "*"

[dev-packages]

[requires]
python_version = "3.12"
